.snakemake/*
CADD/*
CADD_input/*
CADD_tmp/*
bfiles/*
concordance/*
final_vcfs/*
gcounts/*
gt_concordance/*
inputs/*
neurobooster/*
reports/*
short_list/*
slivar/*
slivar_test/*
spliceai_test/*
test_format/*
vcfs/*
vcfs_per_fam/*
slivar_modified_0.2.7.sif
README.md
README_snakemake.md
